doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(href='/css/normalize.css', rel='stylesheet')
    link(href='/css/buttons.css', rel='stylesheet')
    link(href='/less/app.css', rel='stylesheet')
  body(style='background-image: url(/img/grey_wash_wall.png)')
    #container
      nav
        span.miniLogo NodeTunes
        span
          a(href='/', class='button button-rounded button-flat-primary') Home
        span
          a(href='/Artists', class='button button-rounded button-flat-action') Artists
        span
          a(href='/Albums', class='button button-rounded button-flat-highlight') Albums
        span
          a(href='/Songs', class='button button-rounded button-flat-royal') Songs
    block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/buttons.js')
    script(src='/js/vendor/traceur.js')
    script(src='/js/es5/main.js')
    script(src='/js/es6/compiled/main.js')

    block scripts
